<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Vault" type="System.Configuration.NameValueSectionHandler"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DentistX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="DentistX.My.MySettings.DentistXConnectionString" connectionString="Data Source=.;Initial Catalog=DentistX;Trusted_Connection=SSPI;Encrypt=false;TrustServerCertificate=true" providerName="Microsoft.Data.SqlClient"/>
  <add name="DentistX.My.MySettings.DentistXConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBase\DentistX.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  <add name="DentistX.My.MySettings.DentistXConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBase\DentistX.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value>Skin/Blue</value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value></value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value></value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value>Calibri;9.75</value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value/>
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<appSettings>
		<add key="Language" value="en"/>
		<add key="DbType" value="Srvr"/>
		<add key="Size" value="Normal"/>
		<add key="Server" value="."/>
		<add key="ServerPass" value="1234"/>
		<add key="Start" value="MainView3"/>
		<add key="Con" value="Data Source=.;Initial Catalog=DentistX;Integrated Security=True"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
		<add key="EndDate" value="16/07/2026"/>
		<add key="LastCheckDate" value=""/>
		<add key="DefaultTrialDays" value="90"/>
		<add key="ExpiryWarningDays" value="7"/>
		<add key="DoctorName" value="Dr Test"/>
		<add key="ClinicName" value="Test Clinic"/>
		<add key="EncryptionKey" value="ClientLightKey"/>
		<add key="EncryptionSalt" value="s0m3$@lt_1234"/>
		<!-- In DentistX Dashboard-->
		<add key="DashboardRefreshInterval" value="300"/>
		<add key="MaxRecentPatients" value="50"/>
		<add key="DefaultDateRangeDays" value="30"/>
		<add key="EnableAutoRefresh" value="true"/>
		<add key="EnableAlerts" value="true"/>
		<add key="ExportPath" value="C:\DentistX\Exports\"/>
		<add key="BackupPath" value="C:\DentistX\Backups\"/>

		
		<add key="LicenseDevResetEnabled" value="true"/>
		<add key="LicenseDevResetSecret" value="change-me-long-random"/>
		
	</appSettings>
	<Vault>
		<add key="Language" value="en"/>
		<add key="DbType" value="Srvr"/>
		<add key="Size" value="Normal"/>
	</Vault>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
	</startup>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<userSettings>
		<DentistX.My.MySettings>
   <setting name="SkinName" serializeAs="String">
    <value/>
   </setting>
   <setting name="Palette" serializeAs="String">
    <value/>
   </setting>
   <setting name="CompactMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="C1" serializeAs="String">
    <value>LavenderBlush</value>
   </setting>
   <setting name="C2" serializeAs="String">
    <value>Blue</value>
   </setting>
   <setting name="A" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="G" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ResetClrs" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UserName" serializeAs="String">
    <value/>
   </setting>
   <setting name="Password" serializeAs="String">
    <value/>
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Scan" serializeAs="String">
    <value/>
   </setting>
   <setting name="UseHdrTestModHeader" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastWeeklyBackupDate" serializeAs="String">
    <value/>
   </setting>
   <setting name="BackupOnExit" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Naming" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShortReminder" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="FinanceDashboardPasswordSalt" serializeAs="String">
    <value/>
   </setting>
   <setting name="FinanceDashboardPasswordHash" serializeAs="String">
    <value/>
   </setting>
   <setting name="SchedulerWorkingDayStart" serializeAs="String">
    <value>07:00:00</value>
   </setting>
   <setting name="SchedulerWorkingDayEnd" serializeAs="String">
    <value>20:00:00</value>
   </setting>
   <setting name="UiLanguage" serializeAs="String">
    <value/>
   </setting>
   <setting name="ApptModuleCardStartTimeColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="ApptModuleCardEndTimeColor" serializeAs="String">
    <value>SteelBlue</value>
   </setting>
   <setting name="ApptModuleCardPatientNameColor" serializeAs="String">
    <value>33, 37, 41</value>
   </setting>
   <setting name="ApptModuleCardReasonColor" serializeAs="String">
    <value>0, 118, 128</value>
   </setting>
   <setting name="ApptModuleCardNotesColor" serializeAs="String">
    <value>93, 64, 140</value>
   </setting>
   <setting name="ApptModuleBodyWorkspaceExpanded" serializeAs="String">
    <value>False</value>
   </setting>
  </DentistX.My.MySettings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options.ConfigurationExtensions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="fo-dicom.core" publicKeyToken="3a13f649e28eb09a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
